1 {
    display: flex;
  justify-content: flex-end
}

2 {
    display: flex;
  justify-content: center
}

3 {
    display: flex;
  justify-content: space-around
}

4 {
    display: flex;
  justify-content: space-between
}

5 {
    display: flex;
  align-items: flex-end
}

6 {
    display: flex;
  justify-content: center;
  align-items: center;
}

7 {
    display: flex;
  justify-content: space-around; 
  align-items: flex-end
}

8 {
    display: flex;
  flex-direction: row-reverse
}

9 {
    display: flex;
  flex-direction: column
}

10 {
    display: flex;
  flex-direction:row-reverse ;
  justify-content: flex-end
}

11 {
    display: flex;
  flex-direction: column;
  justify-content: flex-end
}

12 {
    display: flex;
  flex-direction: column-reverse;
  justify-content:space-between
}

13 {
    display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end
}

14 {
    display: flex;
  }
  
  .yellow {
  order:2
}

15 {
    display: flex;
  }
  
  .red {
  order:-1
}

16 {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end
}

17 {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  order:1;
  align-self:flex-end
}

18 {
    display: flex;
  flex-wrap: wrap
}

19 {
    display: flex;
  flex-direction: column;
  flex-wrap:wrap
}

20 {
    display: flex;
  flex-flow: column wrap
}

21 {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start
}

22 {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-end
}

23 {
    display: flex;
    flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center
}

24 {
    display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: center
}           